
    .image-container {
      display: inline-block;
      position: relative;
    }

    .hover-image {
      position: absolute;
      top: 0;
      left: 0;
      opacity: 0;
      transition: opacity 0.3s ease;
    }

    .image-container:hover .hover-image {
      opacity: 1;
    }
 